@import url('./reset.css');
@import url('./common.css');

/* =====================공통 적용======================= */
html {
    font-size: 16px;
}

.txt {
    text-align: center;
}

.txt>h2 {
    font-size: 40px;
}

.txt>p {
    color: #555;
    padding-top: 10px;
}


/* ===========================header=========================== */

header{background-color: #000000; position:fixed; width: 100%;}
header div{display: flex; padding:40px 0; justify-content:center;
align-items:center;gap:50%;}
header div h1{}
header div h1 a{color:white;}
header div nav{}
header div nav a{color:white; padding:0 20px; display:inline-block;
font-size:20px;}




/* ================================spot=============================== */

.spot {
    background: url('../img/KakaoTalk_20260119_002302591_20.jpg') 50% 50% / cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

.title>b {
    font-size: 60px;
}

.title>p {
    font-size: 20px;
    margin: 0 0 50px;
}

.title>a {
    background-color: #e6e6e6;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 30px;
}

.title>a:hover {
    background-color: #acacac;
    color:white;
}

/* ========================aboutabout======================================
 */

.about {
    margin: 100px 20px;
}

.conta {
    display: flex;
    gap: 10px;
    text-align: center;
    margin: 50px 0 0;
}

.conta>figure {
    width: 33.3333%;
}

.conta>figure>p {
    background-color: #ffa6a6;
    width: 200px;
    height: 200px;
    margin: 50px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    transition:0.3s;
}

.conta>figure>p:hover {
    background-color: #f15f5f;
    border-radius:50%;
}

.conta>figure>p>img {
    width: 100px;
}

.conta>figure>figcaption>b {
    font-size: 26px;
}

.conta>figure>figcaption>p {
    color: #555;
    margin: 10px 0 0;
}


/* =============================portf========================================= */

.portf {
    background-color: #e6e6e6;
    padding: 100px 20px;
}

.portf .contp {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 0;
    justify-content: space-between;
}

.portf .contp>figure {
    width: 32%;
    text-align: center;
    margin: 30px 0 30px;
}

.portf .contp>figure>p {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    transition: 0.3s;
   
}
.portf .contp>figure>p>img {
    width: 100%;
    transition: 0.3s;
}
.portf .contp>figure>p:hover{
    border-radius:20px;}
.portf .contp>figure>p>img:hover{
    transform:scale(1.1);
    
}



.portf .contp>figure>figcaption {
    margin: 20px 0;
}

.portf .contp>figure>figcaption>b {
    font-size: 26px;
}

.portf .contp>figure>figcaption>p {
    color: #555;
    margin: 10px 0 0;
}


/* =========================contact============================ */

.contact{
    padding:100px 20px;
    background-color: #b8b8b8;}
.contact .map{
    display: flex;
    justify-content:center;
    align-items:center; 
    margin:50px 0 0; }