*{box-sizing:border-box;}
body{margin:0;}
h1,h2,h3,p,figure{margin:0;}
ul,li{margin:0; padding:0; list-style-type:none;}
img{vertical-align:middle;}
a{color:black; text-decoration:none;}
table{border-collapse:collapse;}